#article,
.kb_article  {
  //font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #5e5e5e;
  padding-bottom: 30px;
}

#article h2,
.kb_article h2,
#article h1,
.kb_article h1 {
  font-size: 16px;
  color: #428bca;
}

#article 21:after,
.kb_article h2:after,
#article h1:after,
.kb_article h1:after {
  content: counter(list, decimal) ") ";
  counter-increment: list;
  font-weight: 600;
  opacity: .5;
  float: left;
  margin-right: 0;
}

#article p,
.kb_article p {
  font-size: 13px;
}

#article img,
.kb_article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#article a,
.kb_article a {
  width: 175px;
  height: 175px;
  float: right;
  position: relative;
  margin: 0 15px 15px 0;
}

#article ul,
.kb_article ul {
  padding-left: 10px;
  background-color: #f2f2f2;
  color: #000;
  padding: 15px;
}

#article ul li,
.kb_article ul li {
  margin-bottom: 8px;
}

#article ol,
.kb_article ol {
  display: block;
}

#article ul li:first-child,
.kb_article ul li:first-child {
  list-style-type: none;
  font-size: 14px;
  color: firebrick;
}

#article hr,
.kb_article hr {
  clear: both;
}

#article h1.accordion-toggle,
.kb_article h1.accordion-toggle {
  cursor: pointer;
}

#article .article-custom-section,
.kb_article .article-custom-section {
  display: none;
  padding: 10px 5px 5px 10px;
}

#article .article-custom-section.default,
.kb_article .article-custom-section.default {
  display: block;
  padding: 10px 5px 5px 10px;
}

#article h1.accordion-toggle:before,
.kb_article h1.accordion-toggle:before {
  content: '\002b';
  font-size: 15px;
  float: left;
  margin-right: 5px;
}

#article h1.accordion-toggle.active:before,
.kb_article h1.accordion-toggle.active:before {
  content: "\2212";
}
