#extWrapper {
  color: #5e5e5e;
  padding-bottom: 30px;
  max-width: 800px;
  font-size: 15px;
  font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#extWrapper h4 {
  font-size: 16px;
  color: #428bca;
}

#extWrapper ol {
  display: block;
  padding-left: 0;
}

#extWrapper ul {
  padding-left: 10px;
  background-color: #f2f2f2;
  color: #000;
  padding: 15px;
}

#extWrapper ol li,
#extWrapper ul li {
  margin-bottom: 8px;
}

#extWrapper ul li:first-child {
  list-style-type: none;
  font-size: 14px;
  color: firebrick;
}

#extWrapper hr {
  clear: both;
}

#extWrapper h1 {
  cursor: pointer;
  color: #5e5e5e;
  opacity: .5;
}

#extWrapper h1.active {
  color: #428bca;
  opacity: 1;
}

#extWrapper .panel-collapse.collapse.in {
  display: none;
  padding: 0 5px 5px 0;
  margin-left: 25px;
  min-height: 175px;
}

body {
  counter-reset: extCounter;
}

#extWrapper h1:before {
  counter-increment: extCounter;
  content: counter(extCounter, decimal) ") ";
  font-weight: 600;
  float:left;
  margin-right: 10px;
}

#extWrapper a {
  float: right;
  width: 175px;
  height: 175px;
  margin: 0 0 25px 25px;
}
