#extWrapper  {
  //font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #5e5e5e;
  padding-bottom: 30px;
}

#extWrapper h1 {
  font-size: 16px;
  color: #428bca;
}

#extWrapper p {
  font-size: 13px;
}

#extWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#extWrapper a {
  width: 175px;
  height: 175px;
  float: right;
  position: relative;
  margin: 0 15px 15px 0;
}

#extWrapper a.extWide {
  width: 450px;
  height: auto;
}

#extWrapper ul {
  padding-left: 10px;
  background-color: #f2f2f2;
  color: #000;
  padding: 15px;
}

#extWrapper ul li {
  margin-bottom: 8px;
}

#extWrapper ol {
  display: block;
}

#extWrapper ul li:first-child {
  list-style-type: none;
  font-size: 14px;
  color: firebrick;
}

#extWrapper hr {
  clear: both;
}

#extWrapper h1.accordion-toggle {
  cursor: pointer;
  color: #5e5e5e;
  opacity: .5;
}
#extWrapper h1.accordion-toggle.active {
  color: #428bca;
  opacity: 1;
}

#article .article-custom-section,
.kb_article .article-custom-section {
  display: none;
  padding: 0 5px 5px 10px;
  margin-left: 25px;
}

#extWrapper .article-custom-section.default {
  display: block;
  padding: 0 5px 5px 10px;
  margin-bottom: 50px;
}
/*
#extWrapper h1.accordion-toggle:after {
  content: '\2B9A';
  float: left;
}

#extWrapper h1.accordion-toggle.active:after {
  content: "\2B9B";

}
*/

body {
  counter-reset: extCounter;
}

#extWrapper h1.accordion-toggle:before {
  counter-increment: extCounter;
  content: counter(extCounter, decimal) ") ";
  font-weight: 600;
  float:left;
  margin-right: 10px;
}

#extbtnBack:before {
  content: '\f0a9';
}

#extWrapper ol {
   padding-left: 0;
   margin-left: 0;
   float: left;
}
