#extWrapper {
  color: #5e5e5e;
  padding-bottom: 30px;
  max-width: 800px;
  font-size: 15px;
  font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#extWrapper h1 {
  font-size: 16px;
  color: #428bca;
}

#extWrapper ol {
  display: block;
  padding-left: 0;
}

#extWrapper ul {
  padding-left: 10px;
  background-color: #f2f2f2;
  color: #000;
  padding: 15px;
}

#extWrapper ol li,
#extWrapper ul li {
  margin-bottom: 8px;
}

#extWrapper ul li:first-child {
  list-style-type: none;
  font-size: 14px;
  color: firebrick;
}

#extWrapper hr {
  clear: both;
}

#extWrapper h1.accordion-toggle {
  cursor: pointer;
  color: #5e5e5e;
  opacity: .5;
}
#extWrapper h1.accordion-toggle.active {
  color: #428bca;
  opacity: 1;
}

#extWrapper .article-custom-section {
  display: none;
  padding: 0 5px 5px 0;
  margin-left: 25px;
  min-height: 175px;
}

#extWrapper .article-custom-section.default {
  display: block;
  padding: 0 5px 5px 0;
  margin-bottom: 50px;
}

/*
#extWrapper h1.accordion-toggle:after {
  content: '\2B9A';
  float: left;
}
#extWrapper h1.accordion-toggle.active:after {
  content: "\2B9B";
}
*/

body {
  counter-reset: extCounter;
}

#extWrapper h1.accordion-toggle:before {
  counter-increment: extCounter;
  content: counter(extCounter, decimal) ") ";
  font-weight: 600;
  float:left;
  margin-right: 10px;
}

#extWrapper a {
  float: right;
  width: 175px;
  height: 175px;
  margin-left: 15px;
}

#extWrapper a.expand {
  width: auto;
  height: auto;
}

#extWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  float: right;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
